## DSA mixed easy questions 

### List Operations:

1. Given a list of numbers, write a function to calculate the sum of all elements.
2. Implement a function to find the maximum value in a list of integers.
3. Write a function to remove duplicate elements from a list.

### String Manipulation:

1. Create a function to reverse a string.
2. Implement a function to count the occurrences of each character in a given string.
3. Write a program to check if two strings are anagrams.
4. Remove duplicate from string

### Sorting:

1. Sort a list of integers in ascending order using the bubble sort algorithm.
2. Implement a function to find the kth smallest element in an unsorted list.


### Data Transformation:

1. Given a dictionary representing student grades, write a function to calculate the average grade.
2. Implement a function to convert a list of Celsius temperatures to Fahrenheit.

### Basic Statistics:

1. Create a function to calculate the mean of a list of numbers.
2. Write a program to find the median of a list of integers.

### Data Cleaning:

1. Implement a function to remove missing values from a list or dataset.
2. Write a program to replace outliers in a numerical dataset with the mean value.

### Hashing:

2. Write a program to detect duplicate elements in an array using hashing.

### Recursion:

1. Write a recursive function to calculate the factorial of a number.
2. Implement a recursive algorithm to find the nth Fibonacci number.

In [1]:
# G - using sorted
# P - How to get percentile.

In [2]:
a = [1,2,3,4,5]

#

# 1. List Operations:

### A. Given a list of numbers, write a function to calculate the sum of all elements.

In [3]:
a = [1,-6,37,0,93, 1, -3,-57,4,-3]

In [4]:
def sum_nums(a):
    a1 = 0
    for i in a:
        a1 += i
    return a1

In [5]:
sum_nums(a)

67

### B. Implement a function to find the maximum value in a list of integers.

In [6]:
def max_val(a):
    b1 = a[0]
    for i in a:
        if b1 < i:
            b1 = i
        else:
            b1 = b1
    return b1

In [7]:
max_val(a)

93

### C. Write a function to remove duplicate elements from a list.

In [8]:
def drop_dup_from_list(a):
    c1 = []
    for i in range(len(a)):
        if a[i] not in c1:
            c1.append(a[i])
        else:
            c1 = c1
    return c1

In [9]:
drop_dup_from_list(a)

[1, -6, 37, 0, 93, -3, -57, 4]

#

# String Manipulation:

### D. Remove duplicate from string

In [10]:
d = 'pyyYtHOoNNNnN'

In [11]:
def remove_duplicates(d):
    d1 = ''
    for i in d:
        if i not in d1:
            d1 += i
        else:
            d1 = d1
    return d1

In [12]:
remove_duplicates(d)

'pyYtHOoNn'

### E. Create a function to reverse a string.

In [13]:
d = 'pyyYtHOoNNNnN'

In [14]:
def reverse_string(a):
    e1 = ''
    for i in list(range(len(d)+1)):
        if  i == 0:
            e1 = ''
        else:
            e1 += a[-i]
    return e1

In [15]:
reverse_string(d)

'NnNNNoOHtYyyp'

In [16]:
d[::-1]

'NnNNNoOHtYyyp'

### E2. Create a function to reverse a words of string.

In [1]:
e2 = 'How are you'

In [2]:
def rev_string_words(input_string):
    output_string = ''
    word = ''
    for i in input_string:
        if i.isspace():
            output_string = word + ' ' + output_string
            word = ''
        else:
            word += i
    output_string = word + ' ' + output_string
    return output_string[:-1]

In [3]:
rev_string_words(e2)

'you are How'

### F. Implement a function to count the occurrences of each character in a given string.

In [20]:
def count_char_from_string(a):
    f1 = {}
    for i in a:
        if i in f1:
            f1[i] += 1
        else:
            f1[i] = 1
    return f1

In [21]:
count_char_from_string(d)

{'p': 1, 'y': 2, 'Y': 1, 't': 1, 'H': 1, 'O': 1, 'o': 1, 'N': 4, 'n': 1}

### G. Write a program to check if two strings are anagrams.

In [22]:
g1 = 'du ssty'
g2 = 'stUdyS '

In [23]:
def check_anagrams(string_1, string_2):
    g1 = {}
    g2 = {}
    string_1 = string_1.lower()
    string_2 = string_2.lower()
    for i in string_1:
        if i in g1:
            g1[i] += 1
        else:
            g1[i] = 1
    for x in string_2:
        if x in g2:
            g2[x] += 1
        else:
            g2[x] = 1
    if sorted(g1.keys()) == sorted(g2.keys()) and sorted(g1.values()) == sorted(g2.values()):
        print('Anagrams')
    else:
        print('Not anagrams')

In [24]:
check_anagrams(g1, g2)

Anagrams

### H. Remove duplicate from string.

In [25]:
h = 'nnnNNNNave    ??'

In [26]:
def remove_dup_from_string(string):
    x = ''
    for i in string:
        if i not in x:
            x += i
        else:
            x = x
    return x

In [27]:
remove_dup_from_string(h)

'nNave ?'

#

# Sorting:

### I. Sort a list of integers in ascending order using various algorithm.

###### bubble sort

In [28]:
i = [1,3,5,7,2,4,5,8,0,2]

In [29]:
def bubble_sort(unsorted_list):
    for i in range(len(unsorted_list)):
        # if data is already sorted, we will not check those by using len(unsorted_list) - i -1
        for j in range(0, len(unsorted_list) - i -1):
            if unsorted_list[j] > unsorted_list[j+1]:
                unsorted_list[j], unsorted_list[j+1] = unsorted_list[j+1], unsorted_list[j]
    print(unsorted_list)

In [30]:
bubble_sort(i)

[0, 1, 2, 2, 3, 4, 5, 5, 7, 8]

###### Insertion sort

In [31]:
i2 = [9,3,5,7,2,4,5,8,0,2]
i2

[9, 3, 5, 7, 2, 4, 5, 8, 0, 2]

In [32]:
def inter_sort(list):
    for i in range(1,len(list)):
        j = i
        while j > 0 and list[j] < list[j-1]:
            list[j-1], list[j] = list[j], list[j-1]
            j -= 1
    print(list)

In [33]:
inter_sort(i2)

[0, 2, 2, 3, 4, 5, 5, 7, 8, 9]

### J. Implement a function to find the kth smallest element in an unsorted list.

In [34]:
i

[0, 1, 2, 2, 3, 4, 5, 5, 7, 8]

In [35]:
def find_kth_smallest(arr, k):
    if 0 < k <= len(arr):
        sorted_arr = sorted(arr)
        return sorted_arr[k-1]
    else:
        return None

In [36]:
find_kth_smallest(i, 7)

5

#

# Basic Statistics:

### K. Create a function to calculate the mean of a list of numbers.

In [37]:
k = [45,23,87,1,31]

In [38]:
def mean_of_list(list):
    if len(list) > 0:
        k = 0
        for i in list:
            k +=i
        return k/len(list)
    else:
        print('empty list')

In [39]:
mean_of_list(k)

37.4

### L. Write a program to find the median of a list of integers.

In [40]:
l = [1,8,6,3,1]

In [41]:
# using bubble sort then finding median


def median_of_list(list):
    for i in range(len(list)):
        for j in range(0, len(list)-i-1):
            if list[j] > list[j+1]:
                list[j], list[j+1] = list[j+1], list[j]
    if len(list) % 2 == 1:
        return (list[(len(list)//2)])
    else:
        return ((list[len(list)//2 - 1] + list[len(list)//2])/2)

In [42]:
median_of_list(l)

3

In [43]:
5//2+1

3

In [44]:
10,4,16,5,11

(10, 4, 16, 5, 11)

In [45]:
4,10,16,5,11

(4, 10, 16, 5, 11)

In [46]:
4,5, 10,16,11

(4, 5, 10, 16, 11)

In [47]:
4,5, 10,11,16

(4, 5, 10, 11, 16)

#

# Hashing:

### M. Implement a hash function for a simple key-value store.

In [48]:
# Not solved

### N. Write a program to detect duplicate elements in an array using hashing.

In [49]:
n = [1,1,'d','d', '', '', 9, 'q']

In [50]:
def is_dup(arr):
    not_dup = set()
    dup= set()
    for i in arr:
        if i not in not_dup:
            not_dup.add(i)
        else:
            dup.add(i)
    return dup

In [51]:
is_dup(n)

{'', 1, 'd'}

#

# Data Cleaning:

# O. Implement a function to remove missing values from a list or dataset.

In [52]:
import numpy as np

In [53]:
o = [1.1, 1, 's6', 'r', '', ' ', np.nan, None, np.NaN]

In [54]:
def remove_missing(o):
    x =[]
    for i in o:
        if i is not None and i is not np.nan:
            x.append(i)
    return x

In [55]:
remove_missing(o)

[1.1, 1, 's6', 'r', '', ' ']

# P. Write a program to replace outliers in a numerical dataset with the mean value.

In [56]:
p = [0,4,6,3,8,2,1,5]

In [57]:
def replace_outliers_with_mean(list):
    #Finding mean
    val = 0
    for i in list:
        val += i
    mean = val/len(list)
    # Finding outliers
    upper_range = np.percentile(list, 99)
    lower_range = np.percentile(list, 1)
    for x in range(len(list)):
        if list[x] > upper_range or list[x] < lower_range:
            list[x] = mean
    return list

In [58]:
replace_outliers_with_mean(p)

[3.625, 4, 6, 3, 3.625, 2, 1, 5]

#

# Recursion:

### Q. Write a recursive function to calculate the factorial of a number.

In [59]:
q = 6

In [60]:
def factorial_of(num):
    if num > 1:
        return num * factorial_of(num-1)
    else:
        return 1

In [61]:
factorial_of(q)

720

### R. Implement a recursive algorithm to find the nth Fibonacci number.

In [62]:
r = 16

In [63]:
def Fibonacci_number(num):
    if num == 0:
        return 0
    if num == 1:
        return 1
    else:
        return Fibonacci_number(num-1) + Fibonacci_number(num-2)

In [64]:
Fibonacci_number(r)

987

#

# Data Transformation:

### S. Given a dictionary representing student grades, write a function to calculate the average grade.

In [65]:
s = {'a':[9, 10, 11], 'b':[20,20,18, 18], 'c':[10,12,14]}

In [66]:
def calculate_average_grade(dict):
    result = {}
    for i, j in dict.items():
        tot = 0
        count = 0
        for k in j:
            tot += k
            count += 1
            if count > 0:
                avg = tot/count
                result[i] =avg
    return result

In [67]:
calculate_average_grade(s)

{'a': 10.0, 'b': 19.0, 'c': 12.0}

### T. Implement a function to convert a list of Celsius temperatures to Fahrenheit.

In [68]:
t = [34, 46,37,29,46,40]

In [69]:
def c_to_f(list):
    for i in range(len(list)):
        list[i] = list[i] * 9/5 + 32
    return list

In [70]:
c_to_f(t)

[93.2, 114.8, 98.6, 84.2, 114.8, 104.0]

# ________________________________________________________________

### Write a UDF that takes list as input and returns sum of all numbers (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [71]:
l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]


def sum_numbers_and_count_strings(list_a):
    # list_a is list or an array
    l = {'str_count': 0, 'num_sum':0}
    for i in list_a:
        if isinstance(i, str):
            l['str_count'] += 1
        elif isinstance(i, int) or isinstance(i, float):
            l['num_sum'] += i
    print(l)

sum_numbers_and_count_strings(l1)

{'str_count': 4, 'num_sum': 22.5}

### Get only odd numbers from the following list and store the numbers in new list (Use lambda function with filter)

In [72]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]


# Use lambda function with filter

list(filter(lambda x: x%2 == 1, li))

[5, 7, 97, 77, 23, 73, 61]